---
// src/pages/index.astro

import Layout from "../layouts/Layout.astro";
---

<Layout title="Inicio" description="lol">
	<div class="main-container">
		<h1>¡Hola!</h1>
		<p>Frontend para probar la autenticación</p>
	</div>
</Layout>
