---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Inicio" description="Autenticate">

	<a href="/auth/login">Iniciar sesión</a>
	<a href="/auth/register">Registrarse</a>

</Layout>