---
// src/pages/index.astro

import Layout from "../layouts/Layout.astro";
---

<Layout title="Inicio" description="lol">
	<div class="main-container">
		<h1>¡Hola!</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo vel, aperiam excepturi obcaecati eos natus adipisci nihil sequi necessitatibus voluptatibus modi sunt assumenda, nulla ipsum quas cupiditate et autem. Assumenda.</p>
	</div>
</Layout>
