<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    
    <h1>blep :p silly test</h1>

    <form action="/api/auth/signin" method="POST">
    
        <label for="username">username</label>
        <input type="text" name="username" id="username">

        <label for="password">password</label>
        <input type="password" name="password" id="password">

        <button type="submit">Login</button>

    </form>

</body>
</html>